@model QuotationVM

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @* <form method="post"> *@
                <div class="modal-body">
                    <td>
                        <select asp-for="@Model.QuotationXproduct.ProductId" asp-items="@Model.ProductList" id="product" class="product form-select border-0 shadow">
                            <option disabled selected>--Select Product--</option>
                        </select>
                        <label asp-for="QuotationXproduct.ProductId" class="ms-2"></label>
                        <span asp-validation-for="QuotationXproduct.ProductId" class="text-danger"></span>

                    </td>
                    <td>

                        <select asp-for="@Model.QuotationXproduct.WarehouseId" asp-items="@Model.WarehouseList" id="warehouse" class="warehouse form-select border-0 shadow">
                            <option disabled selected>--Select Warehouse--</option>
                        </select>
                        <label asp-for="QuotationXproduct.Warehouse.WarehouseName" class="ms-2"></label>
                        <span asp-validation-for="QuotationXproduct.Warehouse.WarehouseName" class="text-danger"></span>

                    </td>
                    <td>

                        <select asp-for="@Model.QuotationXproduct.UnitId" asp-items="@Model.UnitList" id="unit" class="unit form-select border-0 shadow">
                            <option disabled selected>--Select BaseUnit--</option>
                        </select>
                        <label asp-for="QuotationXproduct.Unit.UnitName" class="ms-2"></label>
                        <span asp-validation-for="QuotationXproduct.Unit.UnitName" class="text-danger"></span>

                    </td>
                    <td>
                        <select asp-for="@Model.QuotationXproduct.TaxId" asp-items="@Model.TaxList" id="tax" class="tax form-select border-0 shadow">
                            <option disabled selected>--Select Tax--</option>
                        </select>
                        <label asp-for="QuotationXproduct.Tax.Name" class="ms-2"></label>
                        <span asp-validation-for="QuotationXproduct.Tax.Name" class="text-danger"></span>

                    </td>
                    <td>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="QuotationXproduct.Price" disabled id="price" class="price form-control border-0 shadow" />
                            <label asp-for="QuotationXproduct.Price" class="ms-2"></label>
                            <span asp-validation-for="QuotationXproduct.Price" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="QuotationXproduct.Quantity" id="quantity" class="quantity form-control border-0 shadow" />
                            <label asp-for="QuotationXproduct.Quantity" class="ms-2"></label>
                            <span asp-validation-for="QuotationXproduct.Quantity" class="text-danger"></span>
                        </div>
                    </td>

                     <td>
                    <div class="form-floating py-2 col-12">
                    <input asp-for="QuotationXproduct.Subtotal" disabled id="subtotal" class="subtotal form-control border-0 shadow" />
                    <label asp-for="QuotationXproduct.Subtotal" class="ms-2"></label>
                    <span asp-validation-for="QuotationXproduct.Subtotal" class="text-danger"></span>
                    </div>
                    </td>
                    @* <td>
                    <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                    </td> *@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="buttonsubmit" class="btn btn-primary form-control" onclick="saveData()">Save changes</button>
                </div>
            @* </form> *@
        </div>
    </div>
</div> 



<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Create Quotation</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Quotation.Id" hidden />

            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-md-6">
                            <select asp-for="@Model.Quotation.SupplierId" asp-items="@Model.SupplierList" class="form-select border-0 shadow ">
                                <option disabled selected>--Select Suppliery--</option>
                            </select>
                            <label asp-for="Quotation.SupplierId" class="ms-2"></label>
                            <span asp-validation-for="Quotation.SupplierId" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-md-12">
                            <input asp-for="Quotation.QuotationNumber" class="form-control border-0 shadow" />
                            <label asp-for="Quotation.QuotationNumber" class="ms-2"></label>
                            <span asp-validation-for="Quotation.QuotationNumber" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-md-12">
                            <input asp-for="Quotation.DeliveryDate" type="date" class="form-control border-0 shadow" />
                            <label asp-for="Quotation.DeliveryDate" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-md-12">
                            <label asp-for="Quotation.TermCondition " class="ms-2 text-muted"></label>
                            <textarea asp-for="Quotation.TermCondition " class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="form-floating py-2 col-md-12">
                            <label asp-for="Quotation.Notes " class="ms-2 text-muted"></label>
                            <textarea asp-for="Quotation.Notes " class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="form-floating py-2 col-md-12">
                            <input asp-for="Quotation.ScanBarCode" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Quotation.ScanBarCode" class="ms-2"></label>
                        </div>

                        <br>
                        <hr />

                        <div class="container col-12">
                            <div class="col-md-12" style="height:200px; overflow-y:auto;">
                                <table id="ExpTable" class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                Product Name
                                            </th>
                                            <th>
                                                WareHouse Name
                                            </th>
                                            <th>
                                                Unit Name
                                            </th>
                                            <th>
                                                Tax
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                            <th>
                                                SubTotal
                                            </th>
                                            <th>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    Select Product
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="productTableBody">


                                        @if (@Model.QuotationXproducts != null)
                                        {



                                            @for (int i = 0; i < @Model.QuotationXproducts.Count; i++)
                                            {


                                                <tr class="mycontainer" id="mainrow">
                                                    <td>

                                                        <select asp-for="@Model.QuotationXproducts[i].ProductId" asp-items="@Model.ProductList" id="product" class="product form-select border-0 shadow">
                                                            <option disabled selected>--Select Product--</option>
                                                        </select>
                                                        <label asp-for="QuotationXproduct.ProductId" class="ms-2"></label>
                                                        <span asp-validation-for="QuotationXproduct.ProductId" class="text-danger"></span>

                                                    </td>
                                                    <td>

                                                        <select asp-for="@Model.QuotationXproducts[i].WarehouseId" asp-items="@Model.WarehouseList" id="warehouse" class="warehouse form-select border-0 shadow">
                                                            <option disabled selected>--Select Warehouse--</option>
                                                        </select>
                                                        <label asp-for="QuotationXproduct.Warehouse.WarehouseName" class="ms-2"></label>
                                                        <span asp-validation-for="QuotationXproduct.Warehouse.WarehouseName" class="text-danger"></span>

                                                    </td>
                                                    <td>

                                                        <select asp-for="@Model.QuotationXproducts[i].UnitId" asp-items="@Model.UnitList" id="unit" class="unit form-select border-0 shadow">
                                                            <option disabled selected>--Select BaseUnit--</option>
                                                        </select>
                                                        <label asp-for="QuotationXproduct.Unit.UnitName" class="ms-2"></label>
                                                        <span asp-validation-for="QuotationXproduct.Unit.UnitName" class="text-danger"></span>

                                                    </td>
                                                    <td>
                                                        <select asp-for="@Model.QuotationXproducts[i].TaxId" asp-items="@Model.TaxList" id="tax" class="tax form-select border-0 shadow">
                                                            <option disabled selected>--Select Tax--</option>
                                                        </select>
                                                        <label asp-for="QuotationXproduct.Tax.Name" class="ms-2"></label>
                                                        <span asp-validation-for="QuotationXproduct.Tax.Name" class="text-danger"></span>

                                                    </td>
                                                    <td>
                                                        <div class="form-floating py-2 col-12">
                                                            <input asp-for="QuotationXproducts[i].Price" disabled id="price" class="price form-control border-0 shadow" />
                                                            <label asp-for="QuotationXproduct.Price" class="ms-2"></label>
                                                            <span asp-validation-for="QuotationXproduct.Price" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-floating py-2 col-12">
                                                            <input asp-for="QuotationXproducts[i].Quantity" id="quantity" class="quantity form-control border-0 shadow" />
                                                            <label asp-for="QuotationXproduct.Quantity" class="ms-2"></label>
                                                            <span asp-validation-for="QuotationXproduct.Quantity" class="text-danger"></span>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-floating py-2 col-12">
                                                            <input asp-for="QuotationXproducts[i].Subtotal" disabled id="subtotal" class="subtotal form-control border-0 shadow" />
                                                            <label asp-for="QuotationXproduct.Subtotal" class="ms-2"></label>
                                                            <span asp-validation-for="QuotationXproduct.Subtotal" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                                                    </td>

                                                </tr>
                                            }
                                         } 
                                    </tbody>
                                </table>

                            </div>
@* 
                            <div class="form-floating py-2 col-3">
                                <input asp-for="QuotationXproduct.Discount" id="discount" value="0.00" class="discount form-control border-0 shadow" />
                                <label asp-for="QuotationXproduct.Discount" class="ms-2"></label>
                                <span asp-validation-for="QuotationXproduct.Discount" class="text-danger"></span>
                            </div>

                            <br />
                            <hr />
                            <div class="form-floating py-2 col-3">
                                <input asp-for="Quotation.GrandTotal" id="grandtotal" class="grandtotal form-control border-0 shadow" />
                                <label asp-for="Quotation.GrandTotal" class="ms-2"></label>
                                <span asp-validation-for="Quotation.GrandTotal" class="text-danger"></span>
                            </div> *@
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">

                                <button type="submit" class="btn btn-primary form-control">Create</button>

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Qxp" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script>
        function saveData() {

            // Get form data
            var productId = $("#product").val();
            var warehouseId = $("#warehouse").val();
            var unitId = $("#unit").val();
            var taxId = $("#tax").val();
            var price = $("#price").val();
            var quantity = $("#quantity").val();
           // var subtotal = $("#price").val() * $("#quantity").val();

            // Create an object to hold the data
            var product = {
                ProductId: productId,
                WarehouseId: warehouseId,
                UnitId: unitId,
                TaxId: taxId,
                Price: price,
                Quantity: quantity
             //   Subtotal : subtotal
            };
            $.ajax({
                url: '@Url.Action("AddProduct", "Qxp")',
                type: 'POST',
                data: { product: product },
                success: function (response) {
                   
                    if (response.success) {
                        alert('Product list saved successfully!');
                        window.close;
                    } else {
                        alert('Failed to save product list!');
                    }
                },
                error: function () {
                    alert('An error occurred while saving product list!');
                }
            });
        }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            // alert('test');
            // Bind DropDown Button Of Product item
            $("#product").change(function () {
                var Id = $(this).val();
                //  alert(Id);
                $.ajax({
                    url: '@Url.Action("GetProduct", "NewQuotation")',
                    type: 'GET',
                    //dataType: 'json'
                    data: { Id: Id },
                    success: function (data) {

                        // fo9r the data will convert into the object
                        //alert(JSON.stringify(data));

                        // clear the data
                        $("#warehouse").empty();
                        $("#warehouse").append($('<option></option>').val(data.warehouseId).text(data.warehouse.warehouseName));
                        $("#unit").empty();
                        $("#unit").append($('<option></option>').val(data.unitId).text(data.unit.baseUnit));
                        $("#tax").empty();
                        $("#tax").append($('<option></option>').val(data.taxId).text(data.tax.percentage));
                        $("#price").empty();
                        // $("#warehouse").append($('<option></option>').val(data.warehouseId).text(data.warehouse.warehouseName));
                        $("#price").val(data.salesPrice);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".quantity").on("keyup", function () {
                var price = $(this).closest("tr").find(".price").val();
                var quantity = $(this).val();
                var subtotal = price * quantity;
                $(this).closest("tr").find(".subtotal").val(subtotal);
                calculateGrandTotal();
            });

            $(".discount").on("keyup", function () {
                calculateGrandTotal();
            });
        });

        function calculateGrandTotal() {
            var grandTotal = 0;
            var discount = parseFloat($("#discount").val());

            $(".subtotal").each(function () {
                var subtotal = parseFloat($(this).val());
                grandTotal += subtotal;
            });

            var totalDiscount = grandTotal * (discount / 100);
            grandTotal -= totalDiscount;

            $("#grandtotal").val(grandTotal.toFixed(2));
        }
    </script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>

