@model InquiryVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Inquiry.Id != 0 ? "Update" : "Create") Inquiry</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Inquiry.Id" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                      
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Inquiry.ProductId" asp-items="@Model.ProductList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Product--</option>
                            </select>
                            <label asp-for="Inquiry.ProductId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Inquiry.InquiryStatusId" asp-items="@Model.StatusList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Status--</option>
                            </select>
                            <label asp-for="Inquiry.InquiryStatusId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.InquiryStatusId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.UserId" class="form-control border-0 shadow" placeholder="Select User"/>
                            <label asp-for="Inquiry.UserId" class="ms-2">Assign To</label>
                            <span asp-validation-for="Inquiry.UserId" class="text-danger"></span>
                        </div>
                       @*  <div class="form-floating py-2 col-12">
                        <select asp-for="@Model.Inquiry.UserId" asp-items="@Model.UserList" class="form-select border-0 shadow">
                                <option disabled selected>--Select User--</option>
                            </select>
                            <label asp-for="Inquiry.UserId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.UserId" class="text-danger"></span>
                        </div> *@
                       <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.Organization" class="form-control border-0 shadow" />
                            <label asp-for="Inquiry.Organization" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.Organization" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.ContactPerson" class="form-control border-0 shadow" />
                            <label asp-for="Inquiry.ContactPerson" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.ContactPerson" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.Email" class="form-control border-0 shadow" />
                            <label asp-for="Inquiry.Email" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.MobileNumber" class="form-control border-0 shadow" />
                            <label asp-for="Inquiry.MobileNumber" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.PhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="Inquiry.PhoneNumber" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Inquiry.Website" class="form-control border-0 shadow" />
                            <label asp-for="Inquiry.Website" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.Website" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Inquiry.Address " class="ms-2"></label>
                            <input asp-for="Inquiry.Address " class="form-control border-0 shadow" />
                            <span asp-validation-for="Inquiry.Address " class="text-danger"></span>
                        </div>
                        
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Inquiry.CountryId" id="City_CountryId" asp-items="@Model.CountryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select country--</option>
                            </select>
                            <label asp-for="Inquiry.CountryId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Inquiry.StateId" id="City_StateId" asp-items="@Model.StateList" class="form-select border-0 shadow">
                                <option disabled selected>--Select State--</option>
                            </select>
                            <label asp-for="Inquiry.StateId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.StateId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Inquiry.CityId" id="City_Id" asp-items="@Model.CityList" class="form-select border-0 shadow">
                                <option disabled selected>--Select City--</option>
                            </select>
                            <label asp-for="Inquiry.CityId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.CityId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Inquiry.Message " class="ms-2 text-muted"></label>
                            <textarea asp-for="Inquiry.Message " class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Inquiry.InquirySourceId" asp-items="@Model.SourceList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Source--</option>
                            </select>
                            <label asp-for="Inquiry.InquirySourceId" class="ms-2"></label>
                            <span asp-validation-for="Inquiry.InquirySourceId" class="text-danger"></span>
                        </div>
                       
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Inquiry.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Inquiry" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                
            </div>

        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    <script src="https://cdn.tiny.cloud/1/your-tinymce-script.js" referrerpolicy="origin"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#City_CountryId").change(function () {
                var countryId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetStatesByCountry", "Inquiry")',
                    // url: '/City/getCitiesByState',
                    type: 'GET',
                    //dataType: 'json'
                    data: { countryId: countryId },
                    success: function (data) {
                        $("#City_StateId").empty();
                        $("#City_StateId").append('<option disabled selected>--Select State--</option>');
                        // alert(data);
                        $.each(data, function (i, state) {
                            // alert(i);
                            $("#City_StateId").append($('<option></option>').val(state.id).text(state.stateName));
                        });
                    }
                });
            });

            $("#City_StateId").change(function () {
                var stateId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetCitiesByState", "Inquiry")',
                    //  url: '/City/GetStatesByCountry',
                    type: 'GET',
                    data: { stateId: stateId },
                    success: function (data) {
                        $("#City_Id").empty();
                        $("#City_Id").append('<option disabled selected>--Select City--</option>');
                        $.each(data, function (i, city) {

                            $("#City_Id").append($('<option></option>').val(city.id).text(city.cityName));
                        });
                    }
                });
            });
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}